<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomatoclock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".rankList.RankListActivity"
            android:label="a"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".report.ShowAllFocusRecords"
            android:label="@string/title_activity_show_all_focus_records"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".report.AllFocusRecords"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Coin" />
        <activity
            android:name=".Task.TasksActivity"
            android:label="DDL"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Task.TaskEditActivity"
            android:label="编辑任务"
            />
        <activity android:name=".Task.TaskNewActivity"
            android:label="新建任务"
            />
        <activity android:name=".StudyRoom.JoinStudyRoomActivity"
            android:label="加入自习室"
            />
        <activity android:name=".StudyRoom.StudyRoomActivity"
            android:label="我的自习室"
            />
        <activity
            android:name=".report.ShowReport"
            android:label="Report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>